<div fxFlexFill fxLayout="column">
  <mat-toolbar class="edit-ant__toolbar">
    <div fxFlex></div>
    <span>{{ antName$ | async }}</span>
    <div fxFlex></div>
    <button mat-icon-button (click)="submit()" [disabled]="!dirty" matTooltip="Save this ant">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button (click)="delete()" matTooltip="Delete this ant">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-toolbar>
  <div class="edit-ant__code-wrapper" fxFlex>
    <ngs-code-editor #editor fxFill [theme]="theme" [readOnly]="false" [(codeModel)]="codeModel"
      [options]="options" (valueChanged)="onChanged()">
    </ngs-code-editor>
  </div>
</div>
