.home__tile {
  height: 200px;
  width: 200px;
}

.home__tile--mobile {
  height: 130px;
  width: 130px;
}

.home__content {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 32px;
}

.home__rules {
  max-width: 1000px;
  width: 100%;
}

.home__divider {
  width: 50%;
}
