.home__tile {
  height: 200px;
  width: 200px;
}

.home__content {
  overflow: auto;
  padding: 32px;
}

.home__welcome {
  margin-top: 32px;
}

.home__rules {
  max-width: 1000px;
}

.home__divider {
  width: 50%;
}
