<div fxFlexFill fxLayout="column">
  <mat-toolbar color="primary" class="mat-elevation-z4">
    <button mat-icon-button routerLink="/home">
      <mat-icon>home</mat-icon>
    </button>
    <div fxFlex></div>
    <span>Ant Coding Challenge</span>
    <div fxFlex></div>
    <cci-theme-selector></cci-theme-selector>
  </mat-toolbar>

  <form #form #loginForm="ngForm" fxFlex fxLayoutAlign="center center">
    <mat-card class="login__card">
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>

          <mat-form-field class="login__username">
            <input #usernameInput matInput name="username" maxlength="40" placeholder="Username" required
              [(ngModel)]="username" autocomplete="off">
            <mat-error *ngIf="loginForm.controls.username?.errors?.required">
              Username is required
            </mat-error>
          </mat-form-field>

      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="login()">Login</button>
      </mat-card-actions>
    </mat-card>
  </form>

</div>


