.ant-grid__cell {
  height: 8px;
  width: 8px;
}

.ant-grid__ant {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  border: 1px solid white;
}

.ant-grid__food {
  background: brown;
  height: 4px;
  width: 4px;
  margin: 2px;
  border-radius: 50%;
}

.ant-grid__cell--2 {
  background: rgba($color: #2c4cd6, $alpha: 0.5);
}

.ant-grid__cell--3 {
  background: rgba($color: #00999b, $alpha: 0.5);
}

.ant-grid__cell--4 {
  background: rgba($color: #04a003, $alpha: 0.5);
}

.ant-grid__cell--5 {
  background: rgba($color: #d61336, $alpha: 0.5);
}

.ant-grid__cell--6 {
  background: rgba($color: #ce6901, $alpha: 0.5);
}

.ant-grid__cell--7 {
  background: rgba($color: #7e27de, $alpha: 0.5);
}

.ant-grid__cell--8 {
  background: rgba($color: #cc48a9, $alpha: 0.5);
}
