@use '~@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: 'Quicksand', "Helvetica Neue", sans-serif; overflow: hidden; }

@import './app/components/ant-grid/ant-grid.theme';
@import './app/views/edit-ants/edit-ants.theme';
@import './app/components/edit-ant/edit-ant.theme';
@import './app/views/home/home.theme';

$custom-typography: mat.define-typography-config(
  $font-family: "Quicksand"
);

@include mat.core($custom-typography);

@mixin custom-components-theme($theme) {
  @include ant-grid-theme($theme);
  @include edit-ants-theme($theme);
  @include edit-ant-theme($theme);
  @include home-theme($theme);
}

.light-deeppurple-amber {
  $light-primary: mat.define-palette(mat.$deep-purple-palette);
  $light-accent: mat.define-palette(mat.$amber-palette);
  $light-warn: mat.define-palette(mat.$red-palette);
  $light-theme: mat.define-light-theme($light-primary, $light-accent, $light-warn);
  @include mat.all-component-themes($light-theme);
  @include custom-components-theme($light-theme);
}

.light-indigo-pink {
  $light-primary: mat.define-palette(mat.$indigo-palette);
  $light-accent: mat.define-palette(mat.$pink-palette);
  $light-warn: mat.define-palette(mat.$red-palette);
  $light-theme: mat.define-light-theme($light-primary, $light-accent, $light-warn);
  @include mat.all-component-themes($light-theme);
  @include custom-components-theme($light-theme);
}

.dark-purple-green {
  $dark-primary: mat.define-palette(mat.$purple-palette);
  $dark-accent: mat.define-palette(mat.$green-palette);
  $dark-warn: mat.define-palette(mat.$red-palette);
  $dark-theme: mat.define-dark-theme($dark-primary, $dark-accent, $dark-warn);
  @include mat.all-component-themes($dark-theme);
  @include custom-components-theme($dark-theme);
}

.dark-pink-bluegrey {
  $dark-primary: mat.define-palette(mat.$pink-palette);
  $dark-accent: mat.define-palette(mat.$blue-grey-palette);
  $dark-warn: mat.define-palette(mat.$red-palette);
  $dark-theme: mat.define-dark-theme($dark-primary, $dark-accent, $dark-warn);
  @include mat.all-component-themes($dark-theme);
  @include custom-components-theme($dark-theme);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #a5a5a5;
}
